/* 
Name: Blog Magiczny Ogrod BLOGROD
ver: 1.2
*/
    
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;700&family=Signika:wght@300;400;500;600;700&display=swap');
@import url("https://use.typekit.net/xlm6nxm.css");
@font-face {
    font-family: 'Ogg-Bold';
    src:  url('fonts/Ogg-Bold.eot');
    src:  url('fonts/Ogg-Bold.woff2') format('woff2'),
          url('fonts/Ogg-Bold.woff') format('woff');
  }
  @font-face {
    font-family: 'Ogg-Light';
    src:  url('fonts/Ogg-Light.eot');
    src:  url('fonts/Ogg-Light.woff2') format('woff2'),
          url('fonts/Ogg-Light.woff') format('woff');
  }

:root{
    --primarycolor: #C7D2BE;
    --primaryvarcolor: #2D3D25;
    --primatyvariant: #2D3D25;  
    --secondarycolor: #CCB667;
    --backgroundcolor: #FCFAF5;
    --ramka: #EFECE3;
    --body1: #211B10;
    --body2: #64625F;
    --body3: #989693;
    --contwidth: calc(100vw - 4rem);
}
::placeholder {
    color: var(--body3);
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--body3);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--body3);
}
::selection{
    background: var(--secondarycolor);
}
html {
    scroll-behavior: smooth;
}
body{
    width: 100%;
    margin: 0 auto;
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    background-color: #FCFAF5;
    overflow-x: hidden;
    color: var(--body1);
}
main{
    padding: 11rem 0rem 1rem;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6{
    margin-top: 0.5rem;
    margin-bottom: 0.57em;
    font-weight: 500;
}
h1{
    font-family: 'Ogg-Bold', serif;
}
h2, h3, h4, h5, h6{
    font-family: 'Signika', serif;
}
h1{
    font-size: 2.15rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.25rem;
}
h4{
    font-size: 1.4rem;
}
h5{
    font-size: 1.2rem;
}
h6{
    font-size: 1.1rem;
}
a{
    text-decoration: none;
    color: var(--primaryvarcolor);
    cursor: pointer;
    transition: all 0.3s ease ;
}
a:hover{
    color: var(--primarycolor);
}
button,
.button,
input[type="submit"] {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    padding: 0 0 3px 0;
    margin: 0.5em 0 0 0;
    color: var(--primaryvarcolor);
    font-weight: 400;
    font-family: "Signika", sans-serif;
    font-size: 20px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
p{
    font-family: "proxima-nova", sans-serif;
    margin: 0 0 1.33em 0;
    line-height: 1.7;
}
img{
    max-width: 100%;
}
section{
    margin-top: 1rem;
}
blockquote{
    font-size: 1.55rem;
}
.center{
    margin: auto;
    text-align: center;
    display: none;
}
.disable{
    display: none;
}
.menu-expanded {
    overflow: hidden;
}
.drkener-back_popup{
    position: fixed;
    z-index: 11;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: #000;
    transition: visibility 0s ease 0.3s, opacity 0.3s ease 0s;
}
.menu-expanded .drkener-back_popup{
    visibility:visible;
    opacity: 0.6;
    transition: visibility 0s ease 0s, opacity 0.3s ease 0s;
}
.full_width{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.full_width img{
    width: 100%;
}
.font1rem{
    font-size: 1rem;
}
.body-small{
    font-size: 16px;
}
.sub-menu.active{
    opacity: 1;
    z-index: 99!important;
    visibility: visible!important;
    transition: visibility 0s ease 0s, z-index 0s ease 0s, opacity 0.2s ease 0s!important;
}
.primary{
    color: #C7D2BE;
}
.primary-var{
    color: #216646;
}
.secondary{
    color: #CCB667;
}
input[type="text"],
input[type="email"] {
    background-color: transparent;
}
input:focus-visible, 
input:hover, 
input:focus, 
input:active {
    outline-style: none;
}
.hidden{
    display: none;
}
.underline-container{
    position: relative;
    overflow: hidden;
}
.style-underline{
    background-color: var(--body1);
    display: block;
    width: 100%;
    z-index: 2;
    transform: translate3d(-101%, 0, 0px);
    height: 1px;
    transition: transform 0.2s ease-in-out 0s;
    position: absolute;
    bottom: 0px;
}
.first-row,
.second-row{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.empty-space-margin{
    display: block;
    clear: both;
    height: 3em;
}
.container{
    max-width: calc(1440px + 2rem);
    margin: auto;
}
.czas-czytania,
.autor,
.bolded{
    font-weight: 600;
}
.ovhidden,
.artgrid-img_cont,
.masonry-content{
    overflow: hidden;
}
.full-width{
    width: calc(100% + 2rem);
    margin-left: -1rem;
}
/* navbar navigation */

#navi-strip{
    font-family: 'Signika', sans-serif;
    padding: 2.2rem 2rem 2rem;
    margin: 0;
    background-color: transparent;
    transition: top 0.3s ease;
    position: fixed;
    z-index: 99;
    top: 0;
    width: var(--contwidth);
    transition: top .4s ease-in-out, background-color .4s ease-in-out .4s;
}
#navi-strip .container{
    display: grid;
    width: 100%;
    grid-template-columns: 90px 4fr 5fr 40px;
    margin: auto;
}
#navi-strip #mobile-menu.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.menu_searchbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    margin-top: 0;
}
.book{
    margin-top: 8px;
    margin-left: 26px;
    margin-right: 26px;
}
.menu_searchbar a.book img{
    height: 1.5em;
}
.searchbar img {
    width: 1.5em;
    cursor: pointer;
    margin-left: 8px;
}
.searchbar form.search-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-end;
    justify-content: center;
}
.searchbar label {
    display: flex;
    align-items: flex-end;
}
input[type="email"],
input[type="text"] {
    font-size: 0.7em;
    line-height: 2rem;
    border: none;
    border-bottom: 1px solid #B5B3B0;
    text-align: center;
}
nav.main-menu {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    height: auto;
    transition: all 0.4s ease;
}
.menu-item{
    color: var(--primaryvarcolor);
    padding-right: 0.5em;
    margin-right: 0;
    transition: color 0.5s ease;
}
#zwiedzaj a.menu-item {
    margin-right: 0;
    padding-left: 1em;
}
.menu-arrow{
    width: 0.6em;
    margin-left: 8px;
}
img.menu-arrow {
    filter: invert(27%) sepia(87%) saturate(352%) hue-rotate(100deg) brightness(96%) contrast(86%);
    transition: filter 0.3s ease;
}
#desktop-menu .main-menu:hover img.menu-arrow{
    filter: invert(95%) sepia(9%) saturate(357%) hue-rotate(48deg) brightness(87%) contrast(92%);
}
.current img.menu-arrow{
    transform: rotate(-180deg);
}
.menu-expanded .main-menu a {
    color: var(--primarycolor);
}
.menu-expanded .main-menu img {
    filter: invert(0) sepia(0) saturate(100%) hue-rotate(48deg) brightness(150%) contrast(70%);
}
#desktop-menu .main-menu:hover a,
#desktop-menu .main-menu:hover .menu_searchbar a{
    color: var(--primarycolor);
}
.menu-item.current,
#desktop-menu .main-menu a:hover,
#desktop-menu .menu_searchbar a:hover,
.sub-menu a.current{
    color: var(--primaryvarcolor)!important;
}
#desktop-menu .main-menu .current img.menu-arrow,
#desktop-menu .main-menu a:hover img.menu-arrow{
    filter: invert(27%) sepia(87%) saturate(352%) hue-rotate(100deg) brightness(96%) contrast(86%);
}
.book img {
    filter: grayscale(0) contrast(1);
    transition: filter 0.3s ease;
}
a.book:hover img{
    filter: grayscale(1) contrast(1.5);
}
.sub-menu{
    background-color: var(--backgroundcolor);
    color: var(--primaryvarcolor);
    font-size: 0.81rem;
    display: block;
    text-align: center;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: calc(100vw - 4rem);
    max-height: calc(100vh - 2rem);
    padding: 1rem 2rem 1rem;
    visibility: hidden;
    justify-content: space-evenly;
    opacity: 0;
    transition: visibility 0s ease 0.4s, z-index 0s ease 0.2s, opacity 0.4s ease 0.1s;
    padding-bottom: 4rem;
}
.sub-menu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 20rem;
    max-height: 60%;
    width: 100%;
    gap: 0 1em;
    align-items: flex-start;
    align-content: flex-start;
}
#navi-strip .ziolana div.three-columns.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
    max-height: calc(100vh - 10em);
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}
.twoo-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    height: calc(100% - 6em);
    align-items: center;
    text-align: left;
    margin-top: 4rem;
    margin-left: -9rem;
}
.twoo-columns .col.c-no1 {
    width: 22%;
}
.twoo-columns .col.c-no2 {
    width: 33%;
}
.sub-menu .col{
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 0 0 2rem 0;
    justify-content: flex-start;
}
.three-columns .c-no1,
.three-columns .c-no2{
    /* width: 60%; */
    margin-left: -5em;
}
.sub-menu li a{
    padding: 0.45rem 0.8rem;
    font-weight: 500;
    line-height: 2;
    border-radius: 3em;
    text-transform: lowercase;
    white-space: nowrap;
}
.sub-menu li:hover a, 
.sub-menu li:active a, 
.sub-menu li:focus a, 
.sub-menu li:focus-visible a, 
.button-border{
    color: var(--primaryvarcolor);
    font-weight: 500;
    border-radius: 3em;
    -webkit-box-shadow: inset 0px 0px 0px 1px var(--primaryvarcolor);
    -moz-box-shadow: inset 0px 0px 0px 1px var(--primaryvarcolor);
    box-shadow: inset 0px 0px 0px 1px var(--primaryvarcolor);
    outline: none;
}
.sub-menu ul, .sub-menu ul li{
    list-style: none;
    text-decoration: none;
    margin: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    padding: 0.15em 0;
}
.patyczkostrzalka{
   margin-top: 28px;
   position: relative;
   transition: left 0s ease 0s;
   left: -50px;
}
.submenu-opis.active .patyczkostrzalka{
    left: 0;
    transition: left 0.3s ease 0.3s;
}
.zwiedzaj .twoo-columns ul li {
    margin-left: 16%;
}
.sub-menu.ziolana .c-no3,
.sub-menu.zwiedzaj .c-no2{
    position: relative;
}
.submenu-opis{
    position: absolute;
    opacity: 0;
    transition: opacity 0.05s ease 0s;
    overflow: hidden;
}
.submenu-opis.active{
    opacity: 1;
    transition: opacity 0.1s ease 0.1s;
}
#desktop-menu a,
#desktop-menu nav,
#desktop-menu .searchbar,
#desktop-menu .menu_searchbar{
    position: relative;
    z-index: 101;
}
.menu-foter {
    margin-top: 2rem;
    width: fit-content;
    text-align: center;
    align-self: center;
    justify-self: center;
    display: inline-flex;
}
.menu-foter a{
    color: var(--body3);
    width: fit-content;
    overflow: hidden;
    padding-bottom: 4px;
}
#mobile-menu .mobile-menu-right{
    display: flex;
    align-content: center;
    align-items: center;
}
#mobile-menu .logo{
    max-width: 74px;
}
#mobile-menu .szukaj-ico{
    width: 25px;
}
#mobile-menu .book img{
    width: 30px;
}
#mobile-menu .menu-item {
    margin-right: 0;
    padding: 0.5em;
}
#mobile-menu .button-border{
    padding: 8px;
}
#mobile-menu .sub-menu{
    height: 100vh;
}
#mobile-menu  .sub-menu li a{
    font-size: 1rem;
    font-weight: 300;
}
#sub-mobile-menu-header{
    display: block;
    margin-left: 0;
    width: 100%;
    text-align: left;
    padding-bottom: 2em;
}
#mobile-menu-body .style-underline{
    background-color: var(--primaryvarcolor);
    height: 2px;
}
#mobile-menu-body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    font-size: 20px;
    justify-content: space-evenly;
    height: 99%;
    overflow-x: hidden;
    overflow-y: auto;
}

#mobile-menu-body .book img,
#mobile-menu-body .szukaj-ico{
    width: 44px;
    margin-bottom: 42px;
}
#mobile-menu-close,
.zapisane-close:hover{
    transform: rotate(360deg);
}
#mobile-menu-close{
    top: 1em;
}
#mobile-menu-body .onas{
    position: relative;
    overflow: hidden;
    margin-bottom: 3em;
}
.mobile-sub-menu-items{
    position: absolute;
    overflow: hidden;
    left: -101vw;
    top: 0;
    z-index: 9;
    margin-top: 4em;
    padding-top: 2em;
    padding-bottom: 3em;
    transition: left 0.2s ease;
    width: 100%;
    background-color: var(--backgroundcolor);
    min-height: calc(100vh - 6em);
    max-height: calc(100vh - 6em);
    overflow-y: auto;
}
.mobile-sub-menu-items.active{
   left: 0;
}
.mobile-sub-menu-items .mobile-menu-back{
    text-align: left;
    padding-left: 2em;
}
.mobile-sub-menu-items ul{
    padding-bottom: 3em;
    flex-wrap: nowrap;
    height: auto;
}
.mobile-sub-menu-items ul li{
    text-align: left;
    width: fit-content;
    margin-left: 25%;
}
.sub-menu-title{
    font-size: 1,25rem;
    font-weight: 500;
    margin-left: calc(25% + 0.8rem);
    text-align: left;
}
.sub-menu li:hover a, 
.sub-menu li:active a {
    margin-left: 0.8rem!important;
    margin-right: -0.8rem!important;
}

/* ZAPISANE ARTYKULY */
#zapisane-artykuly-panel{
    display: flex;
    position: fixed;
    right: calc(-768px - 4em);
    top: 0;
    max-height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    min-width: 33vw;
    max-width: calc(100vw - 2em);
    background-color: var(--primarycolor);
    padding: 2em 1em;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    transition: right 0.5s ease;
    z-index: 9999;
}
#zapisane-artykuly-panel.active{
    right: 0;
}
.zapisane-art-open,
.overflow-hidden{
    overflow: hidden;
    position: fixed;
}
.zapisane-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    margin-top: 1rem;
}
.zapisane-header > img {
    max-width: 33px;
    height: 33px;
    margin-left: 0.8rem;
}
.zapisane-header h3{
    width: max-content;
    margin: 0rem 1rem 0;
    font-family: 'Signika', sns-serif;
    font-size: 1.26rem;
    font-weight: 400;
    line-height: 1;
}
.zapisane-body{
    margin-top: 3rem;
    padding: 1em 2em 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.zapisane-blok{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0;
    margin-bottom: 3rem;
}
.zapisane-blok img {
    max-width: fit-content;
}
#zapisane-artykuly-panel h4{
    font-family: "proxima-nova", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#zapisane-artykuly-panel article a{
    color: var(--body1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}
.zapisane-blok button,
.zapisane-opis {
    margin-left: 2rem;
}
#mobile-menu-close,
.zapisane-close{
    position: absolute;
    top: 2em;
    right: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.zapisane-close{
    top: 3px;
    width: 26px;
    margin-right: 1rem;
}
.col p {
    line-height: 1.7;
    font-size: 0.81rem;
    margin-left: 0em;
}
button.usun {
    font-size: 14px;
    color: var(--body1);
    font-weight: 600;
    border: none;
    padding: 0 0 3px;
    position: relative;
    overflow: hidden;
}
button:hover .style-underline{
    transform: translate3d(0%, 0px, 0px);
}
a:hover .style-underline,
.article-spis_lista li.active .style-underline{
    transform: translate3d(11%, 0px, 0px);
}
.usun .style-underline {
    transform: translate3d(0%, 0px, 0px);
}
button.usun:hover .style-underline{
    transform: translate3d(-101%, 0px, 0px);
}
.menu-foter .style-underline{
    background-color: var(--body3);
}
.menu-foter a:hover .style-underline{
    transform: translate3d(0%, 0px, 0px);
}

/*
 ** srtona glowna HOME
 */
 .baner{
    display: block;
    width: 100vw;
    margin: 0;
    background-color: var(--primarycolor);
    margin-top: -11rem;
    margin-left: -1rem;
 }
 .baner .cont{
    width: var(--contwidth);
    margin: auto;
    position: relative;
    min-height: calc(540px + 11rem);
 }
 .baner-item,  
 .baner h1,
 .baner-subtitle{
    position: absolute;
 }
 .baner h1,
 .baner-subtitle {
    bottom: 37%;
    left: 50%;
    transform: translate(-50%,0px);
    z-index: 10;
}
.baner-subtitle{
    bottom: 5%;
    width: 100%;
    display: none;
}
.baner h1,
.baner h2 {
    font-family: 'Ogg-Bold', serif;
    text-align: center;
    color: var(--primaryvarcolor);
 }
.baner h1{
    font-size: 25vw;
    margin-bottom: 0rem;
}
.baner h1 span{position: relative;}
.baner h2{
    font-family: 'ogg-light', sans-serif;
    font-size: 1.8rem;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
img.baner-item{
    animation-name: wiaterek;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: scale(80%);
    display: none;
    transition: all 2s ease;
}
img.baner_img-01.baner-item {
    bottom: 10%;
    right: 0;
    animation-name: wiaterek3;
    animation-duration: 3.2s;
    animation-direction: alternate-reverse;
}
img.baner_img-02.baner-item {
    bottom: 2%;
    right: 7%;
    animation-duration: 3.4s;
}
img.baner_img-04.baner-item {
    bottom: 17%;
    left: -50%;
    z-index: 9;
    animation-name: wiaterek2;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    display: block;
}
img.baner_img-14.baner-item {
    bottom: -8%;
    right: -68%;
    z-index: 9;
    display: block;
}
img.baner_img-05.baner-item {
    bottom: 9%;
    right: -26%;
    z-index: 8;
    animation-duration: 3.7s;
    animation-direction: alternate-reverse;
    display: block;
}
img.baner_img-13.baner-item {
    bottom: -14%;
    left: -53%;
    z-index: 9;
    animation-duration: 2.7s;
    display: block;
}
img.baner_img-12.baner-item {
    bottom: 35%;
    right: 0;
    animation-name: wiaterek3;
    animation-duration: 3.2s;
}
img.baner_img-11.baner-item {
    bottom: -11%;
    left: 10%;
    animation-name: wiaterek2;
    animation-duration: 4.5s;
    animation-direction: alternate-reverse;
    display: block;
    transform: scale(0.9);
}
img.baner_img-08.baner-item {
    left: -50%;
    bottom: 52%;
    animation-name: wiaterek3;
    animation-duration: 3.4s;
    animation-direction: alternate-reverse;
    display: block;
    transform: scale(1.06);
}
img.baner_img-09.baner-item {
    left: 2%;
    bottom: 37%;
    animation-name: wiaterek2;
    animation-duration: 2s;
    display: block;
    scale: 1;
}
img.baner_img-07.baner-item {
    right: -42%;
    bottom: 38%;
    animation-duration: 4.4s;
    animation-direction: alternate-reverse;
    display:  block;
    transform: scale(0.9);
}
img.baner_img-06.baner-item {
    right: -42%;
    bottom: 8%;
    z-index: 8;
    animation-name: wiaterek2;
    animation-duration: 3.5s;
    display: block;
}
img.baner_img-10.baner-item {
    bottom: 8%;
    left: -46%;
    z-index: 9;
    animation-name: wiaterek3;
    animation-duration: 2.2s;
    animation-direction: alternate-reverse;
    display: block;
}

@keyframes wiaterek {
    from {
        rotate: 0 0 0 0deg;
    }
    to {
        rotate: 1 1 0 19deg;
    }
  }
@keyframes wiaterek2 {
    from {
        rotate: 0 0 0 0deg;
    }
    to {
        rotate: 1 1 0 -12deg;
    }
}
@keyframes wiaterek3 {
    from {
        rotate: 0 0 0 0deg;
        scale: 1;
    }
    to {
        rotate: 0 1 0.1 8deg;
        scale: 1.02;
    }
}
.grid-najnowsze{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 175px);
    gap: 36px;
    margin-top: 2rem;
}
.item-a {
    grid-row: 1 / span 3;
}
.item-b {
    grid-row: 1 / span 2;
}
.item-c {
    grid-column: 1 / span 2;
    grid-row: 4 / span 3;
}
.item-d{
    grid-row: 3 / span 2;
}
.horizontal.item-c img{
    height: 380px;
    max-height: 380px;
}
.najnowsze-content{
    max-width: 1247px;
    margin: 5rem auto 0;
}
.grid-najnowsze-item,
.artgrid-item,
.content{
    position: relative;
}
.socjalico{
    position: sticky;
    top: 13vh;
}
.socjalico p{
    margin-bottom: 0;
}
.socjalico-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    position: absolute;
    left: -4rem;
    top: 5rem;
}
.txtimg-block {
    width: 100vw;
    padding: 4rem 0;
}
.proponowany.greygreen,
.greygreen,
.proponowane-lista{
    background-color: #C1D1CE;
}
.proponowany.primgreen,
.primgreen{
    background-color: var(--primarycolor);
}
.proponowane-lista h3 span.subtitlecolor,
.greygreen h3 span.subtitlecolor{
    color: #B36D71;
}
.primgreen h3 span.subtitlecolor{
    color: #D78812;
}
.txtimg-container {
    max-width: calc(100% - 8rem);
    margin: auto;
}
.imgblock{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    width: 100%;
}
.proponowany .textblock h3{
    font-size: 2rem;
    line-height: 1.1;
}
.textblock li{
    margin-bottom: 1rem;
}
.czytajdalej{
    margin-top: 4rem;
    margin-left: 1rem;
}
.czytajdalej a{
    position: relative;
    display:inline-flex;
    font-weight: 700;
    overflow: hidden;
}
.czytajdalej img{
    margin-left: 1rem;
}
.czytajdalej a:hover{
    color: var(--body1)
}
.czytajdalej a:hover .style-underline{
    transform: translate3d(-31%, 0px, 0px);
}
.home .artykuly-proponowane, 
.home .artgrid-container {
    max-width: 100%;
}
.home .container .artykuly-proponowane{
    margin: 2rem auto;
    padding: 0
}
.home .artgrid{
    margin-top: 1rem;
}
.home .container section.proponowane-lista.txtimg-block,
section.proponowane-lista,
.proponowane-lista .imgblock {
    margin: 0;
    padding: 0;
}
.proponowane-lista .txtimg-container{
    max-width: 100%;
}
.proponowane-lista .imgblock > img {
    width: 100%;
    object-fit: cover;
}
.proponowane-lista .imgblock{
    position: relative;
    max-height: 100%;
    overflow: hidden;
}
.gradientfilter{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top,  rgba(137,255,241,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
}
.gradientfilter h3,
.gradientfilter a,
.gradientfilter p{
    color: var(--backgroundcolor);
}
.proponowane-lista .gradientfilter .textblock {
    max-width: 75%;
    margin-bottom: 3rem;
}
.proponowane-lista .tag-list {
    margin-top: 1rem;
    max-width: 100%;
}
.proponowane-lista .textblock-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: 5rem;
}
.proponowane-lista .textblock-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.proponowane-lista a:hover{
    color: var(--body2);
}
.textblock-item{
    margin-bottom: 2rem;
}
h3.title,
.proponowane-lista .zapisz_artykul{
    margin-bottom: 0.5rem;
}

/*
** newletter block
*/
.newsletter-block{
    background-color: var(--primarycolor);
    padding: 9.5rem 1rem 7.5rem;
    background-image: url(img/newsletter01.png), url(img/newsletter02.png);
    background-repeat: no-repeat, no-repeat;
    background-position: -7vw -167px, 44vw 200%;
}
.newsletter-container{
    max-width: 100%;
    margin: auto;
    text-align: center;
}
.textblock h3,
.newsletter-block h3,
.newsletter-block p{
    font-family: 'Ogg-Bold', serif;
}
.newsletter-block h3 {
     font-size: 1.875rem;
}
.newsletter-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.newsletter-form input{
    margin-bottom: 1rem;
    font-size: 0.875rem;
}
.newsletter-form input[type="email"]{
    width: 80%;
}
.yellow.button{
    background-color: #EBBC1E;
    padding: 0.6rem 1.2rem;
    border-width: 1px;
}
.yellow.button:hover{
    background-color: var(--secondarycolor);
}
/*
 ** ARTYKUŁ
 */

.article-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
#obrazek-tytulowy{
    height: 480px;
    min-width: 100%;
    min-height: 480px;
    max-width: 100%;
    max-height: 480px;
}
#obrazek-tytulowy img{
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    margin-bottom: 3rem;
    object-fit: cover;
}
h1.article-title {
    font-size: 2.125rem;
}
.article-spis_item {
    font-size: 0.815rem;
    line-height: 2;
    position: relative;
    top: -3px;
}
.zapisz_artykul,
.artgrid-ksiazka{
    background-image: url(img/ksiazka-good.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    min-width: 24px;
    height: 23px;
    margin-bottom: 1.8rem;
}
.proponowane-lista .zapisz_artykul{
    background-image: url(img/ksiazka-artykul-biel.svg);
}
.artgrid-ksiazka{
    min-width: 22px;
    width: 22px;
    height: 22px;
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-size: contain;
    position: absolute;
    bottom: 1rem;
    right: 0;
    z-index: 21;
}
.artgrid-tagi {
    max-width: calc(100% - 2rem);
}
.proponowane-male button.artgrid-ksiazka {
    position: initial;
    margin: 0 1.2rem 0 1rem;
}
p.article-zajawka{
    font-size: 1.33rem;
}
.article-chapter{
    margin-top: 4.8rem;
}
.article-content,
.article-footer{
    max-width: 781px;
}
.article-content{
    position: relative;
}
.tag-list{
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    max-width: 300px;
}
.tag-item,
.tag_button{
    font-size: 0.63rem;
    color: var(--primaryvarcolor);
    border: 1px solid var(--primaryvarcolor);
    border-radius: 2em;
    padding: 0.5em 1em;
    line-height: 3;
    line-break: strict;
    white-space: nowrap;
}
.tag_button{
    line-height: 1;
}
.tag-item:hover,
.tag_button:hover,
.tag_button.active{
    background-color: var(--primarycolor);
    color: var(--primaryvarcolor);
}
.tag_button.active::before{
    content: "x";
    margin-right: 0.4em;
}
#art-001 > section.article-content, 
.article-chapter:first-child {
    margin-top: 3rem;
}
.article-spis h3{
    font-family: "proxima-nova", sans-serif;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
}
.article-spis_lista{
    color: var(--body2);
    margin-top: 0.6rem;
}
.article-spis_lista li {
    font-size: 1.8rem;
    line-height: 1.3;
    list-style: circle;
    margin-left: -0.6rem;
    text-indent: 1rem;
    margin-bottom: 0;
}
.article-spis_lista li a {
    color: var(--body2);
    width: fit-content;
    position: relative;
    top: -1px;
    padding: 0 0 2px;
    line-height: 1;
    overflow: hidden;
}
.article-spis_lista li.active,
.article-spis_lista li:hover {
    color: var(--secondarycolor);
    list-style: disc;
}
.article-spis_lista li:hover a,
.article-spis_lista li.active a {
    color: var(--body1);
}
.article-info{
    font-size: 1rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.main-article section{
    margin-top: 6rem;
}
.article-info p{
    margin-bottom: 0.5em;
}
p.img_caption {
    font-size: 0.8rem;
    color: #64625f;
    font-style: italic;
    margin-left: 1em;
}
.article-block{
    margin-top: 2.45em;
    margin-bottom: 2.45em;
}
.block_grey{
    background-color: var(--ramka);
    padding: 4rem 2.3rem 2.5rem 2.5rem;
    font-size: 18px;
}
.list_dot ul{
    margin: 1.5rem 0;
    text-indent: 0;
}
.list_dot ul li,
.list_numbers li{
    margin-left: -1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}
ol.list_numbers {
    text-indent: 0;
    margin-left: 0;
    padding-left: 0;
    margin-top: 3rem;
}
.list_numbers li {
    font-weight: 600;
    margin-left: 2.5em;
    display: block; 
}
ol { 
    counter-reset: item;
    list-style-type: none;
}
.list_numbers li:before {
    content: counter(item) " ";
    counter-increment: item;
    padding: 0.3em 0.45em 0.3em 0.75em;
    border: 2px solid var(--secondarycolor);
    border-radius: 3rem;
    margin-left: -2.8em;
    margin-right: 0.5em;
}
.list_stars{
    margin-left: 0;
    padding-left: 0;
}
.list_stars li{
    display: flex;
    align-items: center;
}
.list_stars li::before{
   content: url(img/Star.svg);
   margin-right: 1em;
   margin-top: -1rem;
}
.wykrzyknik {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
.wykrzyknik p {
    border-top: 2px solid var(--secondarycolor);
    border-bottom: 2px solid var(--secondarycolor);
    margin-left: -2rem;
    padding: 2em 0;
}
.wykrzyknik::before{
    content: url(img/wykrzyknik.svg);
    margin-bottom: 1rem;
    position: relative;
    left: -3rem;
}
.cytat {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.cytat blockquote {
    border-bottom: 2px solid var(--secondarycolor);
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding: 0 0 2em 0;
}
.cytat::before{
    content: url(img/cytat.svg);
    margin-bottom: 1rem;
    margin-left: -3rem;
}
.youtube {
    min-height: 460px;
}
.youtube iframe{
    width: 100%;
    min-height: 440px;
}
.article-ending{
    text-align: center;
    margin: auto;
    margin-bottom: 7rem;
    margin-top: 7rem;
}
.proponowane-male{
    display: none;
}
.article-footer_header{
    position: relative;
    width: 100%;
    width: -moz-available;         
    width: -webkit-fill-available; 
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}
.article-footer_header > img{
    position: relative;
    top: -2px;
    left: -1em;
}
.article-footer_item {
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    border-top: 2px solid var(--secondarycolor);
    border-bottom: 2px solid var(--secondarycolor);
    overflow: hidden;
    max-height: 2rem;
    transition: max-height 0.3s ease;
}
.article-footer_item.expanded {
    max-height: 40rem;
}

.article-footer_item h3{
    font-family: 'Ogg-Bold', serif;
    line-height: 2;
}
.article-footer_item > div,
.article-footer_item > p{
    margin: 0;
    padding: 0 2rem 0;
}
.article-footer_item p{
    font-size: 0.8rem;
}
.article-footer_navi button {
    width: 2rem;
    margin: 0.1em;
    font-size: 1rem;
    line-height: 1;
    padding: 0;
    left: 0;
    top: 0;
}
.article-footer_navi button img {
    width: 15px;
}
.article-footer_navi {
    display: inline-flex;
    position: absolute;
    right: 1em;
    align-content: center;
    align-items: center;
}
.article-footer_item h4 {
    font-size: 1rem;
}
.article-footer_item ul {
    text-indent: 0;
    padding-inline-start: 0;
}
.article-footer_item ul li {
    list-style: none;
    margin-top: 0.5em;
    font-size: 0.73rem;
}
.article-footer_item ul li a{
    color: var(--body2);
}
.article-footer_item ul li a:hover{
    color: var(--body1);
}
.data {
    font-size: 0.8125rem;
    line-height: 1.13rem;
}

/* KATEGORIA */

.kat-header_cont,
.kategoria-header{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    column-gap: 5rem;
    flex-wrap: wrap;
}
.kat-header_cont {
    flex-direction: column;
    max-width: 450px;
}
section.kategoria-header {
    max-width: 920px;
    margin: 0 auto;
}
.kat-img_cont {
    display: flex;
    min-width: 210px;
    max-height: 280px;
    align-content: center;
    align-items: center;
}
img.kat-header_img {
    max-height: 100%;
}
.grid-item{
    width: 100%;
    margin-bottom: 2rem;
}
.vertical img,
.horizontal img {
    object-fit: cover;
}
.vertical img {
    height: 400px;
    max-height: 400px;
} 
.horizontal .artgrid-img_cont,
.horizontal img {
    height: 190px;
    max-height: 190px;
    object-position: center;
}
.artgrid-img_cont{
    margin-bottom: 0.5rem;
}
.kategoria-content{
    margin-top: 8rem;
    padding: 0 2rem;
}
.artgrid-container{
    max-width: 100%;
    margin: auto;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
}
.artykuly-proponowane .artgrid-container{
    flex-wrap: wrap;
}
article.artgrid-item{
    max-width: 100%;
    padding: 0 1rem;
}
.artgrid-header {
    display: inline-flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.artgrid-title{
    font-size: 1rem;
}
.artgrid-zajawka p{
    font-size: 0.8125rem
}
.artgrid-img_cont img {
    width: 100%;
    transition: transform 0.4s ease-in-out;
}
.grid-najnowsze-item:hover img,
.grid-item:hover img{
    transform: scale(1.12);
}
.malytag-title{
    color: var(--primaryvarcolor);
    font-size: 4rem;
}
.grid-najnowsze-item a:hover,
.masonry-content a:hover,
.grid-item a:hover {
    color: var(--primaryvarcolor);
}

/*
* zobacz więcej
*/

section.artykuly-proponowane {
    margin-top: 5.5em;
}
section.artykuly-proponowane:nth-child(2) {
    margin-top: 20rem;
}
.zobacz_wiecej_header{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.zobacz_wiecej_header h3 {
    margin-right: 1rem;
    display: inline-block;
}
.zobacz_wiecej_header .tag_button {
    margin-top: 0;
}

/* FOOTER */
.flex-group{
    display: flex;
    align-content: center;
    align-items: center;
}
footer{
    background-color: var(--primarycolor);
    font-weight: 400;
    font-family: "proxima-nova", sans-serif;
    overflow: hidden;
    padding-bottom: 2rem;
}
footer .container{
    max-width: var(--contwidth);
}
footer.footer h5{
    margin-bottom: 1.2rem;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-size: 0.8125rem;
}
.footer_innerwidth{
    max-width: calc(850px + 2rem);
    margin: auto;
}
.four-columns{
    display: flex;
    color: var(--body1);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8rem 2rem 5rem;
}
.four-columns .col a{
    color: var(--body1);
}
footer a:hover{
    color: var(--primaryvarcolor)!important;
}
.projektautors,
.logotypy{
    text-align: left;
}
footer .logotypy {
    margin: 2rem auto 0;
}
footer .logotypy a{
    margin: 2rem 0 auto 0;
}
footer p{
    line-height: 1;
    margin-bottom: 0.1em;
}
footer a:hover .style-underline{
    transform: translate3d(0%, 0px, 0px);
}
.flex-group > a{
    margin-left: 0.5em;
}
.col.media{
    display: block;
}
.ziolawtle{
    position: relative;
    max-width: 1440px;
    margin: auto;
    top: -4rem;
}
.ziololeft,
.zioloright{
    position: absolute;
    bottom: -9rem;
}
.ziololeft{
    left: -4rem;
    display: none;
}
.zioloright{
    right: -10rem;
}


/* RESPONSIVE */

@media screen and (max-width: 767px) {
    #desktop-menu{
        display: none!important;
    }
    #mobile-menu{
        display: flex;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    #zapisane-artykuly-panel > .zapisane-header > img{
        display: none;
    }
    main {
        margin: 0;
        padding: 10rem 1rem 0rem;
        overflow: hidden;
    }
    .newsletter-block.full-width{
        width: 100%;
        margin-left: -1rem;
    }
    .grid-najnowsze{
        display: block;
    }
    section.najnowsze-content > div.grid-najnowsze > article.grid-najnowsze-item:nth-child(5) {
        max-width: 100%;
    }
    .four-columns {
        padding: 4rem 2rem 5rem;
    }
    footer .col {
        min-width: 14rem;
    }
    footer span.style-underline {
        transform: translate3d(1%, 0, 0px);
    }
    footer .underline-container{
        max-width: fit-content;
    }
    .txtimg-container > div >div {
        padding: 2rem;
    }
    .home .container section.proponowane-lista.txtimg-block, 
    section.proponowane-lista {
        margin-left: -1rem;
    }
    .proponowane-lista .textblock-content {
        margin-right: 0;
    }
    .txtimg-container{
        max-width: 100%;
    }
}

@media screen and (min-width: 426px) {
    .grid {
        margin-right: -36px;
    }
    .grid-item {
        width: calc(50% - 36px);
        margin-bottom: 50px;
    }
    section.kategoria-header {
        margin: 0 auto 0 0;
    }
    .baner h1, .baner-subtitle {
        bottom: 22%;
    }
    img.baner-item {
        transform: scale(1);
    }
    img.baner_img-04.baner-item {
        bottom: 17%;
        left: -17%;
    }
    img.baner_img-05.baner-item {
        bottom: 9%;
        right: -26%;
    }
    img.baner_img-06.baner-item {
        right: -11%;
        bottom: 8%;
    }
    img.baner_img-07.baner-item {
        right: -7%;
        bottom: 35%;
        transform: scale(1);
    }
    img.baner_img-08.baner-item {
        left: -24%;
        bottom: 40%;
    }
    img.baner_img-09.baner-item {
        left: 28%;
        bottom: 28%;
    }
    img.baner_img-10.baner-item {
        bottom: 8%;
        left: 7%;
    }
    img.baner_img-11.baner-item {
        bottom: -11%;
        left: 32%;
        transform: scale(1.2);
    }
    img.baner_img-13.baner-item {
        bottom: -14%;
        left: -30%;
    }
    img.baner_img-14.baner-item {
        bottom: -8%;
        right: -45%;
    }
    .newsletter-block {
        background-position: -7vw -167px, 68vw 200%;
    }
}
@media screen and (min-width: 650px) {
    .kategoria-header {
        justify-content: center;
        flex-wrap: nowrap;
    }
    .grid-najnowsze .grid-najnowsze-item {
        max-width: calc(50% - 36px);
    }
    .grid-najnowsze {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
    }
    .newsletter-container {
        max-width: 500px;
    }
    .newsletter-block {
        background-position: -7vw -34px, 76vw 193%;
    }
    .four-columns {
        max-width: 500px;
        flex-direction: row;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: start;
    }
    .projektautors, .logotypy {
        text-align: right;
        margin-right: 15rem;
    }
    footer .logotypy {
        margin: 2rem 15rem 0 auto;
    }
}
@media screen and (min-width: 768px) {
    body{
        font-size: 16px;
        max-width: 100vw;
    }
    #mobile-menu{
        display: none!important;
    }
    nav.main-menu a{
        font-size: 0.81rem;
    }
    nav.main-menu {
        align-self: center;
        justify-self: end;
    }
    #desktop-menu a {
        margin: 0;
    }
    #desktop-menu nav.main-menu {
    margin-right: 1em;
    }
    #desktop-menu nav > a.menu-item{
        margin-right: 0;
        padding-left: 1em;
    }
    #desktop-menu a.book {
        margin-top: 0.75em;
        margin-left: 0em;
    }
    .sub-menu .container {
        background-image: url(img/submenu-ziolana.png);
        background-position: 92% 48%;
        background-repeat: no-repeat;
        width: calc(100vw - 4em);
        max-height: fit-content;
        padding: 6rem 2rem 4rem;
    }
    .sub-menu.zwiedzaj .twoo-columns {
        display: flex!important;
        background-image: url(img/submenu-zwiedzaj.png);
        background-position: 84% 70%;
        background-repeat: no-repeat;
    }
    .sub-menu ul {
        gap: 0 2em;
        min-height: 20rem;
    }
    .three-columns .c-no2 {
        width: 45%;
    }
    .sub-menu.ziolana .c-no3 {
        padding-right: 1em;
        width: 28vw;
    }
    #zapisane-artykuly-panel {
        max-width: 570px;
        padding: 2rem 1rem 2rem 3rem;
    }
    .artykul article.main-article{
        max-width: 80%;
        margin: 0 auto;
    }
    .main-article, .artykuly-proponowane {
        max-width: 1247px;
        margin: 0 auto;
    }
    .artykuly-proponowane .artgrid-container {
        flex-wrap: nowrap;
        overflow: hidden;
    }
    .artgrid-container article:first-child > div {
        padding-left: 0;
    }
    .artgrid-container article:last-chhild > div{
        padding-right: 0;
    }
    article.artgrid-item{
        min-width: calc(33.333% - 2rem);
    }
    .article-header {
        flex-direction: row;
        align-items: flex-start;
    }
    #article-header_tresc{
        order: -1;
        padding-right: 4rem;
        max-width: 460px;
    }
    #obrazek-tytulowy{
        width: 370px;
        height: 480px;
        min-width: 370px;
        min-height: 480px;
        max-width: 370px;
        max-height: 480px;
    }
    .cytat {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .cytat blockquote{ 
        border-bottom: none;
        border-right: 2px solid var(--secondarycolor);
        margin-left: 2em;
        padding: 1em 1em 1em 0;
    }
    .searchbar{
        width: 260px;
        justify-self: end;
    }
    .searchbar input[type="text"] {
        width: 100%;
    }
    .grid-item {
        width: calc(33.3% - 36px);
    }
    .baner{
        margin-left: 0;
     }
     .baner .cont{
        width: 100%;
        margin: auto;
        position: relative;
        min-height: calc(470px + 11rem);
     }
     .baner h1 {
        font-size: 20vw;
     }
     img.baner-item{
        transform: scale(1);
    }
    img.baner_img-01.baner-item {
        bottom: 10%;
        right: 0;
        display: none;
    }
    img.baner_img-02.baner-item {
        bottom: 2%;
        right: -13%;
        display: block;
    }
    img.baner_img-04.baner-item {
        bottom: 42%;
        left: -19%;
        z-index: 9;
    }
    img.baner_img-14.baner-item {
        bottom: -4%;
        right: -24%;
    }
    img.baner_img-05.baner-item {
        bottom: 28%;
        right: -3%;
        z-index: 10;
    }
    img.baner_img-13.baner-item {
        bottom: -8%;
        left: -22%;
        z-index: 9;
    }
    img.baner_img-12.baner-item {
        bottom: 35%;
        right: 0;
        display: none;
    }
    img.baner_img-11.baner-item {
        bottom: -2%;
        left: 2%;
        transform: scale(1);
    }
    img.baner_img-08.baner-item {
        left: -3%;
        bottom: 35%;
    }
    img.baner_img-09.baner-item {
        left: 37%;
        bottom: 21%;
    }
    img.baner_img-07.baner-item {
        right: 11%;
        bottom: 30%;
    }
    img.baner_img-06.baner-item {
        right: -11%;
        bottom: 27%;
        z-index: 10;
    }
    img.baner_img-10.baner-item {
        bottom: 18%;
        left: -15%;
        z-index: 9;
    }
    .home .container section {
        padding: 0 1rem;
    }
    .baner-subtitle {
        bottom: 5%;
        display: block;
    }
    .home .container section.newsletter-block {
        padding: 5.5rem 0 3.5rem;
    }
    .ziololeft {
        display: block;
    }
    .four-columns {
        max-width: calc(700px + 2rem);
        align-content: flex-start;
        justify-content: space-between;
    }
    .full-width {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .home .container section.txtimg-block {
        padding: 4rem 0;
        font-size: 0.8125rem;
    }
}

@media screen and (min-width: 1024px) {
    .sub-menu li a{
        font-weight: 400;
    }
    .three-columns .c-no2 {
        width: 40%;
    }
    .sub-menu.ziolana .c-no3{
        padding-right: 1em;
    }
    .sub-menu {
        width: calc(100vw - 10rem);
        padding: 7rem 5rem 4rem;
    }
    .sub-menu ul {
        gap: 0 4em;
    }
    .sub-menu.ziolana .c-no3 {
        width: 29vw;
    }
    #navi-strip .ziolana div.three-columns.container {
        justify-content: space-around;
        width: calc(100% - 4rem);
    }
    #navi-strip .container {
        grid-template-columns: 90px 5fr 4fr 40px;
    }
    .twoo-columns .col.c-no2 {
        width: 26%;
    }
    #desktop-menu nav a.menu-item{
        padding-right: 2rem;
    }
    .grid-item {
        width: calc(25% - 36px);
        margin-bottom: 50px;
    }
    .grid-item--width2{
        width: calc(50% - 36px);
    }
    .grid-item--width2 img{
        max-height: 212px;
        object-fit: cover;
    }
    img.baner-item{
        transform: scale(1);
    }
    img.baner_img-01.baner-item {
        bottom: 10%;
        right: 0;
        display: none;
    }
    img.baner_img-02.baner-item {
        bottom: 2%;
        right: -13%;
        display: block;
    }
    img.baner_img-04.baner-item {
        bottom: 42%;
        left: -8%;
        z-index: 9;
    }
    img.baner_img-14.baner-item {
        bottom: -4%;
        right: -11%;
    }
    img.baner_img-05.baner-item {
        bottom: 28%;
        right: 6%;
        z-index: 10;
    }
    img.baner_img-13.baner-item {
        bottom: -8%;
        left: -6%;
        z-index: 9;
    }
    img.baner_img-12.baner-item {
        bottom: 35%;
        right: 0;
        display: none;
    }
    img.baner_img-11.baner-item {
        bottom: -2%;
        left: 9%;
    }
    img.baner_img-08.baner-item {
        left: 5%;
        bottom: 35%;
    }
    img.baner_img-09.baner-item {
        left: 37%;
        bottom: 21%;
    }
    img.baner_img-07.baner-item {
        right: 18%;
        bottom: 30%;
    }
    img.baner_img-06.baner-item {
        right: -6%;
        bottom: 27%;
        z-index: 10;
    }
    img.baner_img-10.baner-item {
        bottom: 18%;
        left: -4%;
        z-index: 9;
    }
    .baner-subtitle {
        bottom: 5%;
    }
    .grid-najnowsze{
        display: grid;
    }
    .grid-najnowsze .grid-najnowsze-item {
        max-width: 100%;
    }
    .newsletter-block {
        background-position: -7vw -34px, 76vw 193%;
    }
    .item-c .artgrid-img_cont{
        height: 380px;
        max-height: 380px;
    }
    .center {
        display: block;
    }
    .txtimg-container {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .txtimg-container > div {
        max-width: 50%;
        padding: 2rem;
    }
    .textblock{
        max-width: calc(50% - 8rem);
    }
    .textblock-content{
        margin-left: 4rem;
    }
    .imgblock {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
    .czytajdalej {
        margin-left: 5rem;
    }
}

@media screen and (min-width: 1240px) {
    #navi-strip {
        padding: 3rem 2rem 2rem;
        margin:  auto;
     }
    .sub-menu .col {
        padding: 0 2rem 2rem;
    }
    .sub-menu.ziolana .c-no3 {
        padding-right: 4em;
        width: 23%;
        margin-left: -18rem;
    }
    .sub-menu ul {
        gap: 0 8em;
    }
    .three-columns .c-no1 {
        width: 50%;
    }
    .artgrid-container{
        max-width: 1200px;
    }
    article.artgrid-item {
        min-width: calc(25% - 2rem);
        max-width: calc(25% - 2rem);
        padding: 0 1rem;
    }
    .proponowane-male{
        display: block;
        position: absolute;
        top: 0;
        right: -33%;
        max-width: 30%;
    }
    .proponowane-male .zobacz_wiecej_header{
        display: block;
    }
    .poponowane_item{
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--ramka);
        margin: 1rem auto;
    }
    .masonry-content {
        overflow: hidden;
        padding: 0 24px 16px 24px;
    }
    .baner {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .baner .cont {
        width: var(--contwidth);
        margin: auto;
        position: relative;
        min-height: calc(540px + 11rem);
    }
    .baner-subtitle {
        bottom: 5%;
    }
    .baner h1 {
        font-size: 14.25rem;
        bottom: 18%;
    }
    img.baner_img-01.baner-item {
        bottom: 10%;
        right: 0;
        display: block;
    }
    img.baner_img-02.baner-item {
        bottom: 2%;
        right: 7%;
        display: block;
    }
    img.baner_img-04.baner-item {
        bottom: 42%;
        left: 3%;
    }
    img.baner_img-14.baner-item {
        bottom: -4%;
        right: 0;
    }
    img.baner_img-05.baner-item {
        bottom: 28%;
        right: 15%;
    }
    img.baner_img-13.baner-item {
        bottom: -8%;
        left: 0;
        z-index: 9;
    }
    img.baner_img-12.baner-item {
        bottom: 35%;
        right: 0;
        display: block;
    }
    img.baner_img-11.baner-item {
        bottom: -2%;
        left: 17%;
    }
    img.baner_img-08.baner-item {
        left: 13%;
        bottom: 35%;
    }
    img.baner_img-09.baner-item {
        left: 37%;
        bottom: 21%;
    }
    img.baner_img-07.baner-item {
        right: 27%;
        bottom: 30%;
    }
    img.baner_img-06.baner-item {
        right: 7%;
        bottom: 27%;
    }
    img.baner_img-10.baner-item {
        bottom: 18%;
        left: 1%;
    }
    .four-columns {
        max-width: calc(850px + 2rem);
    }
    .home .artykuly-proponowane, .home .artgrid-container {
        max-width: 1247px;
    }
    .artykuly-proponowane .artgrid-container {
        margin-left: -1rem;
        margin-right: -1rem;
    }

}

@media screen and (min-width: 1440px) {
    #navi-strip .ziolana div.three-columns.container {
        justify-content: space-evenly;
    }
    .newsletter-block {
        background-position: 4vw -34px, 112% 193%;
    }
    .grid-item .content {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    .proponowane-male {
        right: -48%;
    }
}

@media screen and (min-width: 1824px) {
    #zapisane-artykuly-panel {
        right: calc(-600px - 20%);
    }
}

/* MOZILLA firefox */

@supports (-moz-appearance:none) {
    .style-underline {
        transform: translate3d(-109%, 0px, 0px);
    }
    a:hover .style-underline, .article-spis_lista li.active .style-underline {
        transform: translate3d(-1%, 0px, 0px);
      }
}

#navi-strip.menuontop{
    background-color: var(--backgroundcolor);
    padding: 0.5rem 2rem;
}